/* Loader.css */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1d1160;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.bouncing-dots {
  display: flex;
  justify-content: space-between;
  width: 60px;
}

.bouncing-dots div {
  width: 14px;
  height: 14px;
    background-color: #DDA0DD; /* dark orange */
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out both;
}

.bouncing-dots div:nth-child(1) {
  animation-delay: -0.32s;
}

.bouncing-dots div:nth-child(2) {
  animation-delay: -0.16s;
}

.bouncing-dots div:nth-child(3) {
  animation-delay: 0;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
